* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;

    align-items: center;

    background: #0b3700;
    border: none;
    overflow: overlay;
}

body > img {
    height: 15vw;
}

header {
    display: inline-flex;
    margin: 5vh 0 0 0;
    align-items: center;
}
header img {
    height: 7vw;
    margin: 0 0 1vw 2vw;
    filter: drop-shadow(0 1.5vw 8px rgb(0, 0, 0));
}

h1 {
    font-family: 'Poppins';
    font-size: 6vw;
    font-weight: 200;
    text-align: center;

    border: none;
    color: white;
    text-shadow: 0 1vw 15px rgb(0, 0, 0, 1);
}

h2 {
    font-family: 'Barlow';
    font-size: 2vw;
    margin: 0 0 1vh 0;
    font-weight: 400;
    color: white;
}

button {
    font-family: 'Barlow';
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    height: 3vh;
    position: relative;
    bottom: 0;

    margin: 10vh 0 0 0;

    text-align: center;
    font-size: 1vw;

    background: #cccccc;
}